* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color:  #d7d7d7;
}
a:hover{
  color: deepskyblue;
}
.App {
  display: flex;
  margin: 0 auto;
  max-width: 1024px;
  min-width: 935px;
}
.leftSide {
  background-color: #4a4a4a;
  width: 35%;
  padding: 15px;
  color: #d7d7d7;
}
.rightSide {
  background-color: #c0c0c0;
  width: 65%;
  padding: 15px;
}